body{
    background-color: #e7c89d;
}
header{
    background-color: #7e8a97;
    color:#30475e;
}
.cntr *{
    text-align: center;
    display: block;
}
a:link{
    color:rgb(31,183,221);
}
a:visited{
    color: silver;
}
#menu{
    text-align: center;
    
}
#menu~ul>li{color:teal;}
article{
    background-color: #e7dec8;
    
}
.pic{
    float: left;
    margin-right: 10px;
    width: 100px;
    height:100px;
}
.free{
    clear: both;
}